@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background-image: url('./images/space.jpg');
  background-size: 100vw;
  background-attachment: fixed;
  background-repeat: round;
  padding: 0;
  margin: 0;

}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  background: rgba(254, 0, 254, 0.1);
}

div.console {
  border: .5vw solid rgba(199, 0, 199, .4);
  padding: 1em;
  min-height: 65vh;
  background: rgba(254, 0, 254, 0.4);
}

div.controls {
  display: flex;
  flex-direction: column;
}

span.time {
  display: inline-block;
  padding: .2em;
  background: rgba(255, 0, 169, .8);
}

code {
  padding: .5em;
  display: block;
  min-height: 60vh;
  max-height: 60vh;
  min-width: 40vw;
  max-width: 40vw;
  overflow-y: scroll;
  border: .5vw solid rgba(199, 0, 199, .4);
  background: rgba(255, 0, 255, .4);
  font-family: Source Code Pro;
  color: rgba(255, 204, 0, 1);
  font-size: 1.5vw;
}

button {
  font-family: Source Code Pro;
  color: rgba(242, 255, 4, 0.8);
  text-shadow: -1px  -1px 1px rgba(255, 217, 0, 0.8),
               /* 2px  2px 0px rgba(194, 227, 233, 0.8), */
               3px  3px 1px rgba(169, 7, 155, 0.6),
              -2px -2px 1em rgba(87,  11, 108, .8),
               2px -2px 1em rgba(87,  11, 108, .8),
              -2px  2px 1em rgba(87,  11, 108, .8),
               2px  2px 1em rgba(87,  11, 108, .8);
  display: block;
  background: rgba(255, 0, 255, .4);
  font-size: 2vw;
  border: 4px solid purple;
}
