@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background-image: url('./images/space.jpg');
  background-size: 100vw;
  background-attachment: fixed;
  background-repeat: round;
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 17vw 50vw 17vw;
  justify-content: center;
  background: rgba(254, 0, 254, .1);
}

div.console {
  border: .5vw solid rgba(199, 0, 199, .1);
  padding: 1em;
  min-height: 65vh;
  background: rgba(254, 0, 254, 0.2);
  overflow: hidden;
}

div.controls {
  margin: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1.25em;
}

div.times {
  font-family: Source Code Pro;
  font-size: 2vh;
  color: rgb(255, 204, 0);
  background: rgba(128, 0, 128, .8);
  max-height: 66vh;
  padding: .5em;
}

span.time {
  text-shadow: none;
  display: inline-block;
  padding: .25em;
  margin-top: .25em;
  background: rgba(255, 0, 169, .8);
}

code {
  margin: 0 auto;
  padding: 1em;
  display: block;
  min-height: 60vh;
  max-height: 60vh;
  min-width: 40vw;
  max-width: 40vw;
  overflow: auto;
  border: .5vw solid rgba(199, 0, 199, .2);
  background: rgba(255, 0, 255, .2);
  font-family: Source Code Pro;
  color: rgba(255, 204, 0, 1);
  text-shadow: 0px  0px 1em rgba(0, 0, 0, 1),
              -1px  -1px 1px rgba(255, 217, 0, 0.8),
               1px  1px 1px rgba(255, 0, 169, .2),
              -2px -2px 1em rgba(255, 0, 169, .2),
               2px -2px 1em rgba(255, 0, 169, .2),
              -2px  2px 1em rgba(255, 0, 169, .2),
               2px  2px 1em rgba(255, 0, 169, .2);
  font-size: 1.5vw;
}

button {
  font-family: Source Code Pro;
  color: rgba(242, 255, 4, 0.8);
  text-shadow: -1px  -1px 1px rgba(255, 217, 0, 0.8),
               1px  1px 1px rgba(255, 0, 169, .6),
              -2px -2px 1em rgba(255, 0, 169, .6),
               2px -2px 1em rgba(255, 0, 169, .6),
              -2px  2px 1em rgba(255, 0, 169, .6),
               2px  2px 1em rgba(255, 0, 169, .6);
  display: block;
  background:rgba(255, 179, 255, 0.1);
  font-size: 2vw;
  border: 4px solid rgba(255, 179, 255, 0.1);
  border-radius: .125em;
}

section {
  padding: .5em;
  border-bottom: 2px solid rgba(255, 0, 255, .3);
}

section > p {
  padding: .25em;
  background: rgba(255, 0, 169, .6);
}

p.input-size {
  padding: .25em;
  font-style: italic;
  text-align: center;
  background: rgba(255, 0, 169, .3);
}

h3 {
  text-align: right;
}

header {
  padding: .25em;
  border-bottom: 1px solid rgba(255, 204, 0, 1);
}
