@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

body {
  background-image: url('./images/space.jpg');
  background-size: 100vw;
  background-attachment: fixed;
  background-repeat: round;
  padding: 0;
  margin: 0;

}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  background: rgba(254, 0, 254, 0.1);
}

div.console {
  border: .5vw solid rgba(199, 0, 199, .4);
  padding: 1em;
  min-height: 65vh;
  background: rgba(254, 0, 254, 0.4);
}

div.controls {
  display: flex;
  flex-direction: column;
}

code {
  display: block;
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
  border: .5vw solid rgba(199, 0, 199, .4);
  background: rgba(255, 0, 255, .4);
  font-family: Nova Mono;
  color: rgba(255, 204, 0, 1);
  font-size: 1.5vw;
}

button {
  font-family: Nova Mono;
  color: rgba(255, 204, 0, 1);
  text-shadow: 2px 2px 0px rgb(89, 13, 89);
  display: block;
  background: rgba(255, 0, 255, .4);
  font-size: 2vw;
  border: 4px solid purple;
}
